{% extends 'base.html' %}

{% block title %}{{ course.title }} - LMS{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <h1>{{ course.title }}</h1>
        <p class="lead">{{ course.description }}</p>
        
        <div class="mb-3">
            <strong>Instructor:</strong> {{ course.instructor.username }}<br>
            <strong>Price:</strong> ${{ course.price }}<br>
            <strong>Created:</strong> {{ course.created_at|date:"M d, Y" }}
        </div>

        {% if is_enrolled %}
            <div class="alert alert-success">
                You are enrolled in this course!
                <a href="{% url 'course_dashboard' course.id %}" class="btn btn-success ms-3">Go to Course</a>
            </div>
        {% else %}
            <form method="post" action="{% url 'enroll_course' course.id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Enroll in Course</button>
            </form>
        {% endif %}
    </div>
    
    <div class="col-md-4">
        {% if course.thumbnail %}
            <img src="{{ course.thumbnail.url }}" class="img-fluid rounded" alt="{{ course.title }}">
        {% endif %}
    </div>
</div>
{% endblock %}